/* Hide scrollbars for a specific element */

.home {
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbars for WebKit browsers (Chrome, Safari) */

.home::-webkit-scrollbar {
  display: none;
}
